# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('Spam')

In [4]:
X.shape

(5572, 513)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [6]:
iteration = 10
res_knn_tsne = []
res_rfc_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_knn_tsne.append(DA.Knn(X_tsne, y, 5))
    res_rfc_tsne.append(DA.RFC(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [7]:
pd.DataFrame(res_knn_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.889686  0.880395  0.889686  0.883135
1  0.880717  0.870611  0.880717  0.874053
2  0.890583  0.881960  0.890583  0.884660
3  0.890583  0.882339  0.890583  0.885036
4  0.884305  0.876000  0.884305  0.879024
5  0.879821  0.871807  0.879821  0.874927
6  0.888789  0.882045  0.888789  0.884619
7  0.885202  0.877218  0.885202  0.880152
8  0.884305  0.874671  0.884305  0.877841
9  0.886099  0.877115  0.886099  0.880130

In [8]:
pd.DataFrame(res_rfc_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.904933  0.903499  0.904933  0.904173
1  0.910314  0.906986  0.910314  0.908326
2  0.917489  0.913636  0.917489  0.914913
3  0.911211  0.907084  0.911211  0.908576
4  0.905830  0.900356  0.905830  0.902147
5  0.897758  0.896207  0.897758  0.896941
6  0.910314  0.906632  0.910314  0.908060
7  0.912108  0.908864  0.912108  0.910160
8  0.908520  0.904389  0.908520  0.905945
9  0.907623  0.906013  0.907623  0.906759

# Applying UMAP

In [9]:
iteration = 10
res_knn_umap = []
res_rfc_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_knn_umap.append(DA.Knn(X_umap, y, 5))
    res_rfc_umap.append(DA.RFC(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_knn_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.857399  0.843539  0.857399  0.848930
1  0.879821  0.869363  0.879821  0.872896
2  0.878924  0.868110  0.878924  0.871733
3  0.866368  0.854971  0.866368  0.859365
4  0.877130  0.867558  0.877130  0.871110
5  0.876233  0.872487  0.876233  0.874209
6  0.871749  0.862705  0.871749  0.866317
7  0.873543  0.866389  0.873543  0.869398
8  0.882511  0.876005  0.882511  0.878661
9  0.875336  0.868312  0.875336  0.871251

In [11]:
pd.DataFrame(res_rfc_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.867265  0.853935  0.867265  0.858666
1  0.878924  0.869555  0.878924  0.872991
2  0.864574  0.851729  0.864574  0.856531
3  0.868161  0.857574  0.868161  0.861701
4  0.878924  0.871089  0.878924  0.874189
5  0.883408  0.877222  0.883408  0.879768
6  0.882511  0.874992  0.882511  0.877917
7  0.872646  0.865723  0.872646  0.868670
8  0.877130  0.868076  0.877130  0.871521
9  0.864574  0.855480  0.864574  0.859278