# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('Wine')

In [4]:
X.shape

(178, 13)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [6]:
iteration = 10
res_knn_tsne = []
res_rfc_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_knn_tsne.append(DA.Knn(X_tsne, y, 5))
    res_rfc_tsne.append(DA.RFC(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [7]:
pd.DataFrame(res_knn_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.722222  0.704735  0.722222  0.709171
1  0.694444  0.688604  0.694444  0.689708
2  0.694444  0.688604  0.694444  0.689708
3  0.694444  0.688604  0.694444  0.689708
4  0.722222  0.708170  0.722222  0.714646
5  0.694444  0.688604  0.694444  0.689708
6  0.694444  0.688604  0.694444  0.689708
7  0.694444  0.688604  0.694444  0.689708
8  0.722222  0.708170  0.722222  0.714646
9  0.694444  0.688604  0.694444  0.689708

In [8]:
pd.DataFrame(res_rfc_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.722222  0.733822  0.722222  0.727129
1  0.722222  0.733822  0.722222  0.727129
2  0.750000  0.750000  0.750000  0.750000
3  0.722222  0.733822  0.722222  0.727129
4  0.722222  0.733822  0.722222  0.727129
5  0.722222  0.733822  0.722222  0.727129
6  0.722222  0.733822  0.722222  0.727129
7  0.694444  0.737963  0.694444  0.711139
8  0.694444  0.717486  0.694444  0.703713
9  0.694444  0.737607  0.694444  0.706719

# Applying UMAP

In [9]:
iteration = 10
res_knn_umap = []
res_rfc_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_knn_umap.append(DA.Knn(X_umap, y, 5))
    res_rfc_umap.append(DA.RFC(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_knn_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.694444  0.637427  0.694444  0.663492
1  0.777778  0.744152  0.777778  0.753704
2  0.722222  0.665205  0.722222  0.691270
3  0.694444  0.647863  0.694444  0.666667
4  0.694444  0.657407  0.694444  0.674837
5  0.722222  0.703704  0.722222  0.712295
6  0.694444  0.688604  0.694444  0.689708
7  0.777778  0.767647  0.777778  0.771886
8  0.833333  0.827124  0.833333  0.829125
9  0.777778  0.744152  0.777778  0.753704

In [11]:
pd.DataFrame(res_rfc_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.694444  0.737963  0.694444  0.711139
1  0.722222  0.728704  0.722222  0.716714
2  0.750000  0.763736  0.750000  0.755935
3  0.722222  0.739927  0.722222  0.730294
4  0.666667  0.737762  0.666667  0.690217
5  0.694444  0.708333  0.694444  0.698341
6  0.666667  0.691682  0.666667  0.676638
7  0.694444  0.694444  0.694444  0.694444
8  0.694444  0.717826  0.694444  0.703574
9  0.722222  0.728255  0.722222  0.724467